h1{
    text-align: center;
}
div.maze {
    /* position: absolute; */
    width: 99%;
    display: flex;
    flex-wrap: wrap;
    border: 3px solid black;
    /* display: grid;
    grid-template-columns: 30px 30px;
    grid-template-rows: 30px 30px; */
}
div.maze-row {
    flex-grow: 1;
}
div.maze-tile {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    align-content: stretch;
    box-sizing: border-box;
    border: 1px dotted black;
    height: 100px;
}
div.player {
    position: absolute;
    background-image: url(./assets/rat_face_icon.png);
    background-size: cover;
    background-position: center center;
}
button.begin {
    align-items: center;
    right: 50%;
    bottom: 0;
    margin: 15px;
}
