body {
   align-items: center;
   align-content: center;
   text-align: center;
   background-color: rgb(54, 54, 54);
}

h1{
    text-align: center;
    color: rgb(143, 0, 0)
}

canvas.maze {
    border: 5px solid rgb(112, 6, 56); 
    background-color: antiquewhite; 
}

div.player {
    background-image: url(./assets/rat_face_icon.png);
    background-size: cover;
    background-position: center center;
    background-color: #cccccc;
    height: 20px;
    width: 20px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    border: 10px;
}

button.begin {
    display: block;
    align-items: center;
    right: 50%;
    bottom: 0;
    margin: 40px;
    padding: 20px;
}

div.star {
    background-image: url(./assets/Gold\ Star.png);
    background-size: cover;
    background-position: center center;
    /* background-color: #cccccc; */
    height: 20px;
    width: 20px;
    align-items: center;
    justify-content: center;
}
